body{
    background-image: url('14731307_rm218-bb-07.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.sign-in{
    display: grid;
    justify-content: center;

    width: 100px;
    height: 300px;
    
    position: absolute;
    top:-70;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.main-name{
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    color: #fff;
}

#name{
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#name:hover{
    opacity: 70%;
    transition: 0.2s ease-in-out;
}


#snapchat{
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#snapchat:hover{
    opacity: 70%;
    transition: 0.2s ease-in-out;
    font-size: 15px;
}


.album-div{
    display: grid;
    justify-content: center;
    margin-top: 0px;
    width: 400px;
    height: 100px;
    
}

.album{
    list-style: none;
    display: inline-flex;
    margin-left: -50px;
    
}

.album-img{ 
    height: 70px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 10px;
    position: relative;
    display: block;
    border-radius: 10px;
}

.album-img-tw{ 
    height: 70px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 10px;
    position: relative;
    display: block;
    border-radius: 10px;
    filter: invert(50%);
    transition: 0.2s ease-in-out;
}

.album-img-tw:hover{ 
    filter: invert(100%);
    transition: 0.2s ease-in-out;
}

.album-ls{
    text-align: center;
    position: relative;
    display: block;
    top: 0;
    transition: 0.2s ease-in-out;
    color: #ff5a5a00;
    filter:grayscale(100%);
    filter:drop-shadow(0px);
    font-family: 'Major Mono Display', monospace;
}

.album-ls:hover{
    transition: 0.5s ease-in-out;
    top: -20px;
    color: #fff;
    filter:drop-shadow(10px);
    filter:grayscale(0%);
}
.album-lnk{
    text-decoration: none;
}
.album-lnk:visited{
    text-decoration: none;
}

.album-lnk:active{
    text-decoration: none;
}

li{
    padding: 20px;
}


footer{
    display: block;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px;
}

footer h5{
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    margin-top: 20;
    color: #fff;
}



