body{
    background-color: #92fea4;
}

.header{
    top: 0;
    position: sticky;
    z-index: 1;
}
/*names*/
.name{
    font-family: 'Red Hat Display', sans-serif;
    color: #3c3c3c;
    padding: 20px;
    margin-top:100px;
    margin-left:100px;
    background-color: #92fea4;
}

.server{
    text-align: center;
    color: #3c3c3c;
    font-family: 'Red Hat Display', sans-serif;
}


/*sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #92fea4;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    padding-top: 60px;
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    color: #3c3c3c;
    border: 1px solid #3c3c3c;
    display: block;
    transition: 0.5s;
}

.sidenav a:hover {
    color: #fff;
    background-color: #3c3c3c;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 16px;
    border-radius: 7px;
    font-family: 'Red Hat Display', sans-serif;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.side_text {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    padding: 15px;
    list-style: none;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
}

.menu {
    background-color: #92fea4;
    border: 1px solid #3c3c3c;
    font-family: 'Red Hat Display', sans-serif;
    padding: 10px;
    border-radius: 7px;
    float: right;
    color: #3c3c3c;
    font-size: 14px;
    margin-top: -5px;
    margin-right: 120px;
    transition: ease-in-out 0.2s;
    display: inline-flex;
    align-items: center;
}

.menu2 {
    padding-top: 20px;
    float: right;
    color: #fff;
    width:25%;
}
.menu:hover{
    background-color: #fff;
    color:#6775a8;
    transition: ease-in-out 0.5s;
}


/*main*/
.main-block{
    background-color: #92fea4;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #3c3c3c;
}

.main-name{
    color: #3c3c3c;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    opacity: 70%;
}

.main-para{
    color: #3c3c3c;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Red Hat Display', sans-serif;
    padding-bottom: 50px;
    opacity: 70%;
    font-size: 18px;
}


/*footer*/
.footer-block{
    background-color: #92fea4;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 100px;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    width: auto;
    bottom: 0;
    border: 1px solid #3c3c3c;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.ft-txt{
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    color: #3c3c3c;
    opacity: 70%;
}

hr{
    width: 90%;
}
