body{
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(255,0,0,1) 100%);
}


.main{
    display: grid;
    justify-content: center;

    max-width: 700px;
    height: 300px;
    
    position: absolute;
    top:-70;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1{
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    color: #fff;
}

p{
    padding: 25px;
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

